@model List<UserViewModel>

<div class="text-center">
    <h1>Empresas</h1>
    @Html.ActionLink("Novo Usuario", "Index", "Home")
    <div class="table">
        <table border="1">
            <thead>
                <tr>
                    <th>Fantasia</th>
                    <th>Razão</th>
                    <th>Endereço</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>UF</th>
                    <th>Cep</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Homepage</th>
                    <th>Obs</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuarios in Model)
                {
                <tr>
                    <td> @usuarios.Codigo</td>
                    <td> @usuarios.Fantasia</td>
                    <td> @usuarios.Razao </td>
                    <td> @usuarios.Endereco </td>
                    <td> @usuarios.Bairro </td>
                    <td> @usuarios.Cidade</td>
                    <td> @usuarios.Uf</td>
                    <td> @usuarios.Cep</td>
                    <td> @usuarios.Telefone</td>
                    <td> @usuarios.Email</td>
                    <td> @usuarios.Homepage</td>
                    <td> @usuarios.Obs</td>
                    <td><button type="submit" class="btn btn-info">Alterar</button><button type="submit" class="btn btn-danger">Remover</button></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
