@{
    ViewData["Title"] = "Home Page";
}

@model UserViewModel

<div>

    @using (Html.BeginForm("getCompanyId", "Home", FormMethod.Post))
    {
        <h1> Cadastro </h1>
        <div class="text-center">
            <div class="conteiner">
                <div class="box-1">
                    <div class="box-titulos">
                        <div class="titulo">Fantasia</div>
                        <div class="titulo">Razão</div>
                        <div class="titulo">Endereço</div>
                        <div class="titulo">Bairro</div>
                        <div class="titulo">Cidade</div>
                        <div class="titulo">UF</div>
                        <div class="titulo">Cep</div>
                        <div class="titulo">Telefone</div>
                        <div class="titulo">E-mail</div>
                        <div class="titulo">Homepage</div>
                        <div class="titulo">Obs</div>
                    </div>
                    <div class="box-inputs">
                        @Html.TextBoxFor(x => x.Fantasia)
                        @Html.TextBoxFor(x => x.Razao)
                        @Html.TextBoxFor(x => x.Endereco)
                        @Html.TextBoxFor(x => x.Bairro)
                        @Html.TextBoxFor(x => x.Cidade)
                        @Html.TextBoxFor(x => x.Uf)
                        @Html.TextBoxFor(x => x.Cep)
                        @Html.TextBoxFor(x => x.Telefone)
                        @Html.TextBoxFor(x => x.Email)
                        @Html.TextBoxFor(x => x.Homepage)
                        @Html.TextBoxFor(x => x.Obs)
                    </div>
                </div>
                <div class="box-3">
                    <button type="submit" class="btn btn-success">Adicionar</button>
                </div>
            </div>
        </div>
    }
</div>